/* Navigation */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(40, 55, 66, 0.95);
    backdrop-filter: blur(10px);
    z-index: 1000;
    transition: all 0.3s ease;
}

.nav-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.nav-logo span {
    font-size: 2.0rem;
    font-weight: 500;
    color: #9bdb63c7;
}

.nav-menu {
    display: flex;
    gap: 3rem;
}

.nav-link {
    text-decoration: none;
    color: #9cd1e9;
    font-weight: 500;
    transition: color 0.3s ease;
    position: relative;
}

.nav-link:hover {
    color: #7457a9;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #c6c6ef;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #d6eadf;
    margin: 3px 0;
    transition: 0.3s;
} 
